/* shared style */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  line-height: 1.5;
}

html{
  font-size: 62.5%;
}

body{
  background-color: #1A0B2E;
  color: #ffffff;
}

ul, ol{
  list-style: none;
}

a{
  text-decoration: none;
}

img, video{
  width: 100%;
  height: 100%;
}

.container{
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

/* main style */
nav{
  padding: 20px;
  border-bottom: 1px solid #412567;
}

nav .nav-content{
  align-items: center;
}

.nav-content div.logo{
  font-size: 3rem;
  font-weight: 800;
}

.nav-content div.logo #tech:hover{
  color: #FB09B4;
}

.nav-content div.logo #wave{
  color: #F7E93F;
}

.nav-content div.logo #wave:hover{
  color: #9100F8;
}

.nav-content ul{
  align-items: center;
  gap: 2.5rem;
}

.nav-content ul li a{
  font-size: 1.6rem;
  font-weight: 400;
}

.nav-content ul li a.yelo:hover{
  color: #F7E93F;
}

.nav-content ul li a.pnk:hover{
  color: #FB09B4;
}

.nav-content ul li a.prpl:hover{
  color: #9100F8;
}

.nav-content .menu-div span.btn a{
  font-size: 1.6rem;
  background: linear-gradient(to right, #F7E93F 0%, #FB09B4 51%, #9100F8 100%);
  padding: 8px 12px;
  border-radius: 20px;
  transition: transform 3s ease-in-out
}

.nav-content .menu-div span.btn a:hover{
  display: inline-block;
  transform: scale(1.1);
  background: linear-gradient(to left, #F7E93F 0%, #FB09B4 51%, #9100F8 100%);
}

.nav-content .menu-div #hamburger i{
  display: none;
}

/* mobile device */
@media screen and (max-width: 576px) {
  html{
    font-size: 56.25%;
  }

  .nav-content ul{
    display: none;
  }

  .nav-content .menu-div span.btn{
    display: none;
  }

  .nav-content .menu-div #hamburger i{
  display: block;
  font-size: 2.5rem;
}
}

/* tablet device */
@media screen and (min-width: 577px) and (max-width: 992px) {
  .nav-content ul{
    display: none;
  }

  .nav-content .menu-div span.btn{
    display: none;
  }

  .nav-content .menu-div #hamburger i{
  display: block;
  font-size: 2.5rem;
}
}
/* hero section */
section.hero{
  background-image: url(../images/hero-bg.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.hero-content{
  padding: 100px 0;
}

.hero-content .hc-img{
  background-image: url(../images/hero-circle.png);
  background-size: 100% 100%;
  height: 280px;
  width: 280px;
  border-radius: 50%;
  justify-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.hero-content .hc-img img{
  width: 105px;
  height: 165px;
}

.hero-content .hc-img:hover img{
  filter: drop-shadow(0 0px 20px #ffffff9e);
}

.hero-content .hc-img #hc-img-badge{
  position: absolute;
  display: block;
  color: #1A0B2E;
  font-size: 1.3rem;
  font-weight: 700;
  background-color: #00FF88;
  padding: 5px 12px;
  border-radius: 20px;
  top: 4%;
  right: 7%;
  transition: transform 2s ease-in-out;
}

.hero-content .hc-img:hover #hc-img-badge{
  transform: scale(1.07);
  box-shadow: 0 0 20px 0 #00FF88;
}

.hero-content .hc-img #hc-img-badge:hover{
  color: #FB09B4;
  background-color: #F7E93F;
}

.hero-content .hc-dt h1{
  margin-top: 3rem;
  font-size: 5rem;
  font-weight: 700;
}

.hero-content .hc-dt .hc-dt-p{
  font-size: 1.6rem;
  font-weight: 200;
  margin-bottom: 2rem;
}

.hero-content .hc-dt .hc-dt-btn span{
  display: inline-block;
  margin-right: 1rem;
}

.hero-content .hc-dt .hc-dt-btn span .btn-1{
    font-size: 1.6rem;
    background: linear-gradient(to right, #F7E93F 0%, #FB09B4 51%, #9100F8 100%);
    padding: 7px 14px;
    border-radius: 20px;
}

.hero-content .hc-dt .hc-dt-btn span .btn-1:hover{
  background: linear-gradient(to left, #F7E93F 0%, #FB09B4 51%, #9100F8 100%);
}

.hero-content .hc-dt .hc-dt-btn span .btn-2{
  color: #00FF88;
  font-size: 1.6rem;
  padding: 7px 14px;
  border: 1px solid #00FF88;
  border-radius: 20px;
}

.hero-content .hc-dt .hc-dt-btn span .btn-2:hover{
  color: #FB09B4;
  border: 1px solid #FB09B4;
}

/* mobile device */
@media screen and (max-width: 576px) {
  html{
    font-size: 56.25%;
  }

  section.hero{
    background-image: url(../images/hero-bg.png);
    background-repeat: no-repeat;
    background-size: 100% 90%;
  }

  .hero-content{
  padding: 60px 0;
}

.hero-content .hc-img{
  background-size: 100%;
  height: 210px;
  width: 210px;
  border-radius: 50%;
}

.hero-content .hc-img img{
  width: 55px;
  height: 80px;
}

.hero-content .hc-dt p{
  padding: 0 90px;
}
}

/* about section */
section.about{
  margin: 40px 0;
}

.about-content h2{
  margin-bottom: 1rem;
  font-size: 3.5rem;
  font-weight: 700;
}

.about-content .ab-cn-p1{
  margin-bottom: 2rem;
  padding: 0 250px;
  font-size: 1.6rem;
  font-weight: 200;
  line-height: 3rem;
}

.about-content .ab-cn-p2{
  font-size: 1.6rem;
  font-weight: 200;
}

.about-content .ab-cn-dt{
  grid-template-columns: repeat(4, 1fr);
  text-align: center;
  margin-top: 5rem;
  padding: 4rem 0;
  border-top: 1px solid #412567;
}

.about-content .ab-cn-dt h3{
  margin-bottom: 0.5rem;
  color: #00FF88;
  font-size: 4rem;
  font-weight: 800;
}

.about-content .ab-cn-dt h4{
  font-size: 1.6rem;
  font-weight: 200;
}

/* mobile device */
@media screen and (max-width: 576px) {
  html{
    font-size: 56.25%;
  }

  section.about{
  margin: 20px 0;
}

  .about-content .ab-cn-p1{
    padding: 0 ;
    line-height: normal;
}

  .about-content .ab-cn-p2{
    padding: 0;
}

.about-content .ab-cn-dt{
  grid-template-columns: repeat(2, 1fr);
  row-gap: 3rem;
}
}

/* tablet device */
@media screen and (min-width: 577px) and (max-width: 992px) {
  html{
    font-size: 56.25%;
  }

  .about-content .ab-cn-p1{
    padding: 0 80px;
}
}

/* laptop device */
@media screen and (min-width: 993px) and (max-width: 1200px) {
  html{
    font-size: 56.25%;
  }

  .about-content .ab-cn-p1{
    padding: 0 60px;
}
}

/* choose section */
section.choose{
  padding: 8rem 0;
  background-color: rgba(53, 17, 101, 0.4);
}

.choose-content h2{
  margin-bottom: 3rem;
  font-size: 3.5rem;
  font-weight: 700;
}

.choose-content .ch-cn-grid{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, auto);
  gap: 2rem;
}

.choose-content .ch-cn-grid .rowspan{
  grid-row: span 2;
}

.choose-content .ch-cn-grid .colspan{
  grid-column: span 2;
}

.choose-content .ch-cn-grid div{
  background-color: #351165;
  border-radius: 15px;
  padding: 2.4rem;
  align-content: center;
  transition: transform 1s ease-in-out;
}

/* .choose-content .ch-cn-grid div:hover{
  transform: scale(1.02);
} */

.choose-content .ch-cn-grid div:hover h3{
  color: #F7E93F;
}

.choose-content .ch-cn-grid div img{
  width: 60px;
  height: 60px;
  transition: transform 2s ease-in-out;
}

.choose-content .ch-cn-grid div:hover img{
  transform: scale(1.2) rotate(360deg);
}

.choose-content .ch-cn-grid div h3{
  margin: 1.2rem 0 0.8rem 0;
  font-size: 2rem;
  font-weight: 700;
}

.choose-content .ch-cn-grid div p{
  font-size: 1.6rem;
  font-weight: 200;
}

/* mobile device */
@media screen and (max-width: 576px) {
  html{
    font-size: 56.25%;
  }

  section.choose{
  padding: 4rem 0;
}

  .choose-content .ch-cn-grid{
    grid-template-columns: 1fr;
  }

  .choose-content .ch-cn-grid .rowspan{
  grid-row: span 1;
}

.choose-content .ch-cn-grid .colspan{
  grid-column: span 1;
}
}

/* tablet device */
@media screen and (min-width: 577px) and (max-width: 992px) {
  html{
    font-size: 56.25%;
  }

  section.choose{
  padding: 6rem 0;
}

  .choose-content .ch-cn-grid{
    grid-template-columns: repeat(2, 1fr);
  }

  .choose-content .ch-cn-grid .rowspan{
  grid-row: span 1;
}

.choose-content .ch-cn-grid .colspan{
  grid-column: span 1;
}
}

/* featured section */
section.featured{
  margin: 80px 0;
}

.featured-content h2{
  margin-bottom: 3rem;
  font-size: 3.5rem;
  font-weight: 700;
}

.featured-content .fc-vdo{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

.featured-content .fc-vdo .parent-div{
  background-color: #250D44;
  border-radius: 15px;
  transition: transform 1s ease-in-out;
}

.featured-content .fc-vdo .parent-div:hover{
  box-shadow: 0 0 20px 0 #4c2283;
  transform: scale(1.02);
}

.featured-content .fc-vdo .parent-div iframe{
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
}

.featured-content .fc-vdo .parent-div .div-text{
  padding: 3.2rem;
}

.featured-content .fc-vdo .parent-div .div-text h3{
  font-size: 2rem;
  font-weight: 700;
}

.featured-content .fc-vdo .parent-div .div-text p{
  margin: 1rem 0;
  font-size: 1.6rem;
  font-weight: 200;
}

.featured-content .fc-vdo .parent-div .div-text span{
  display: inline-block;
  color: #00FF88;
  font-size: 1.6rem;
  align-content: end;
}

/* mobile device */
@media screen and (max-width: 576px) {
  html{
    font-size: 56.25%;
  }

  section.featured{
    margin: 30px 0;
}

  .featured-content .fc-vdo{
  grid-template-columns: 1fr;
  gap: 2rem;
}
}

/* tablet device */
@media screen and (min-width: 577px) and (max-width: 992px) {
  html{
    font-size: 56.25%;
  }

  .featured-content .fc-vdo .parent-div{
    height: auto;
  }

  .featured-content .fc-vdo .parent-div .div-text{
    padding: 2.8rem;
}
}

/* host section */
section.host{
  margin-bottom: 80px;
}

.host-content h2{
  margin-bottom: 3rem;
  font-size: 3.5rem;
  font-weight: 700;
}

.host-content .hc-dt{
  gap: 40px;
  grid-template-columns: 200px 1fr;
  background-color: #351165;
  border-radius: 32px;
  padding: 30px;
}

.host-content .hc-dt .hc-dt-info h3{
  margin-bottom: 15px;
  font-size: 2.4rem;
  font-weight: 700;
}

.host-content .hc-dt .hc-dt-info p{
  margin-bottom: 15px;
  font-size: 1.6rem;
  font-weight: 200;
}

.host-content .hc-dt .hc-dt-info .hc-dt-info-png{
  gap: 10px;
}

.host-content .hc-dt .hc-dt-info .hc-dt-info-png .img-div{
  padding: 7px;
  border-radius: 50%;
  border: 1px solid #533C72;
}

.host-content .hc-dt .hc-dt-info .hc-dt-info-png .img-div:hover{
  box-shadow: 0 0 20px 0 #F7E93F;
}

.host-content .hc-dt .hc-dt-info .hc-dt-info-png img{
  width: 17px;
  height: 17px;
  transition: transform 2s ease-in-out;
}

.host-content .hc-dt:hover img{
  transform: rotate(360deg);
}

/* mobile device */
@media screen and (max-width: 576px) {
  html{
    font-size: 56.25%;
  }

  section.host{
  margin-bottom: 40px;
}

.host-content .hc-dt{
  gap: 20px;
  grid-template-columns: 1fr;
  justify-items: center;
  text-align: center;
}

.host-content .hc-dt .hc-dt-img{
  width: 200px;
}

.host-content .hc-dt .hc-dt-info .hc-dt-info-png{
  justify-content: center;
}
}

/* tablet device */
@media screen and (min-width: 577px) and (max-width: 992px) {
  html{
    font-size: 56.25%;
  }

.host-content .hc-dt{
  grid-template-columns: 1fr;
  justify-items: center;
  text-align: center;
}

.host-content .hc-dt .hc-dt-img{
  width: 200px;
}

.host-content .hc-dt .hc-dt-info .hc-dt-info-png{
  justify-content: center;
}
}

/* footer section */
section.footer{
  padding: 80px 0;
  background: url(../images/footer-bg.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.footer-content {
  margin: 0 280px;
} 

.footer-content p.logo{
  font-size: 5rem;
  font-weight: 800;
}

.footer-content p.logo #tech:hover{
  color: #FB09B4;
}

.footer-content p.logo #wave{
  color: #F7E93F;
}

.footer-content p.logo #wave:hover{
  color: #9100F8;
}

.footer-content .footer-icon{
  margin-top: 10px;
  margin-bottom: 30px;
  grid-template-columns: repeat(4, 1fr);
  justify-content: center;
  align-content: center;
}

.footer-content .footer-icon div img{
  display: inline-block;
}

.footer-content .footer-icon div span{
  display: inline-block;
  margin-left: 7px;
  font-size: 1.6rem;
  font-weight: 200;
}

.footer-content #copyright{
  font-size: 1.6rem;
  font-weight: 200;
}

/* mobile device */
@media screen and (max-width: 576px) {
  html{
    font-size: 56.25%;
  }
  
  section.footer{
  padding: 40px 0;
  background-size: 100% 100%;
}

.footer-content {
  margin: 0;
}

.footer-content .footer-icon{
  padding: 0 60px;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 10px;
  justify-content: space-around;
}
}

/* tablet device */
@media screen and (min-width: 577px) and (max-width: 992px) {
  html{
    font-size: 56.25%;
  }

  .footer-content {
  margin: 0 220px;
} 

  section.footer{
  background-size: 100% 100%;
}

.footer-content .footer-icon{
  grid-template-columns: repeat(4, 1fr);
}
}